
= simple_form_for(@job, html:{ class: 'form-horizontal'}) do |f|

  =f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose Category"}
  =f.input :job, label: "Job Title"
  =f.input :description, label: "Job Description"
  =f.input :company, label: "Company"
  =f.input :url, label: "Companies URL"
  %br/
  =f.button :submit
  
  
