%h1= @job.job 
%p= @job.description
%p= @job.company

=link_to 'Home', root_path 
|
=link_to 'Edit', edit_job_path(@job)
|
=link_to 'Delete', @job, method: :delete, data: {confirm:"Are you sure?"}
